{% extends "base2.html"%}

{% block content %}
<br>
<br>
<div class="container" align="center">
    <h2>Login</h2>
    <br>
    <br>
    <br>
    <form action="" method="post">
    {% csrf_token %}
    {% for fm in form %}
       {{fm.label_tag}} {{fm}} {{fm.error|striptags}} <br><br>
    {% endfor %}
    <input type="submit" value="Login">
    </form>
    <br>
    <div class = "container">
        <div><a href="{% url 'signup' %}">New User Click Here To Register</a></div>
    </div>
</div>
<br>
{% endblock%}
